.footerLinks {
background-color: rgba(1, 0, 15, 0.692);


ul {
    list-style-type: none;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
    margin: 0;
    padding: 0;

    }
}