.footerLinks {
height: 12rem;
background-color: rgba(1, 0, 15, 0.692);


ul {
    list-style-type: none;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
    margin-top: 2rem;
    padding: 0;
        li {
            list-style: none;
            margin-top: 10px;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    color: rgba(0, 255, 187, 0.583);
                    transition: 0.5s;
                    
                }
            }
        }
    }
}