//  |Home |Quienes somos | Contact us | Productos
.header .navbar {
    display: block !important;
    z-index: 997;
    position: absolute;
    padding: 30px 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent !important;
    .navbar-nav{
        margin-right: 5%;
    }
    #navbarNav {
        color: black !important;
        font-size: 1.1rem;
        position: relative;
        margin-left: 14rem;
        border: 1.5px;
        .nav-link{
            color: black;
        }
        &:hover {
            font-size: 1.2rem;
            transition: 0.5s;
            
        

        }
    }
}

.fondoPantalla {
    width: 100%;
}