.muestraProductos{
    margin-top: 5em;
    margin-right: 0px;
}
.card-img-top {
    height: 40%;
    width: 100%;
}
.card {
    height: 500px;
    width: 100px;
    margin-top: 50px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 15px;
    
    .card-body {
        height: 30px;
        width: auto;
        margin: 0% !important;
        padding: 0 !important;
        
    }
}

.mainContent {
    .texto {
        margin-left: auto;
        margin-right: auto ;
        width: auto;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 35px;
        height: 160px;
        background-color: rgba(247, 241, 68, 0.368);
    }
    .nosotros {
        height: 12rem;
    }
    .ofertas {
        background-color: rgba(0, 127, 25, 0.483) 
    }
}

.mainContentProductos {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}
@media (min-width: 530px) and (max-width:1024px) {
    .mainContent {
        width: 530px;
        height:20rem;
    }
}
.card-text {
    margin-top: 3rem;
}

//Grid CARDS
.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}